{# {% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}

{# {% for categorie in categorie %}
{{ categorie | length }}
{{ categorie.libelle }}
{{ categorie.image }}
{{ categorie.active }}
{{ categorie.id }}
{% endfor %} #}

{# <div class="row my-2 mx-5 text-center row-cols-1">
<div class="col categoriemv"><p>Nos catégories | {{ categorie | length }}</p></div>
</div>
<div class="row my-1 mx-5 text-center row-cols-lg-3">
{% for categorie in categorie %}
    {% if categorie.active == 1 %}
    <div class="col reveal-left boxsize">
        <button type="submit" class="animcategory btn">
                <div class="boxcat">
                        <img class="catbackground" src="{{asset('src/img/category/')}}{{ categorie.image }}"
                            alt="{{ categorie.libelle }}"
                            title="{{ categorie.libelle }}" height="255px" width="255px">
                        <p class="catname mx-auto">{{ categorie.libelle }}</p>
                        <input type="hidden" value="{{ categorie.id }}" name="cat">
                </div>
        </button>
    </div>
    {% endif %}
 {% endfor %}
 </div>
 {% endblock %} #}


 {% extends 'base.html.twig' %}

{% block title %}categorie{% endblock %}

{% block body %}
{% if is_granted ('ROLE_CHEF') or is_granted ('ROLE_ADMIN') %}
<a href='{{path('app_Categorieadd')}}' class="btn btn-warning">Add  Categorie<a/>
{% endif %}
<div class="row my-2 mx-5 text-center row-cols-1">
<div class="col platmv"><p>Nos categorie | {{ categorie | length }}</p>
</div>
</div>
              <div class="row my-1 mx-5 text-center row-cols-lg-3">
{% for categorie in categorie %}
{% if categorie.active == 1 %}
                <div>
                <a href="{{ path("app_platcat", {"libelle" :categorie.libelle }) }}">
                    <button type="submit" class="btn" name="categorie" value="{{ categorie.libelle }}">
                          <div class="boxcat">
                            <img class="catbackground" src="{{asset('src/img/category/')}}{{ categorie.image }}"
                                alt="{{ categorie.libelle }}"
                                title="{{ categorie.libelle }}" height="255px" width="255px">
                            <p class="catname mx-auto">{{ categorie.libelle }}</p>
                            <input type="hidden" value="{{ categorie.id }}" name="cat">
                          </a>
                  </button>
                  </form>
                                  {% if is_granted ('ROLE_CHEF') or is_granted ('ROLE_ADMIN') %}
                <a href='{{path('app_catmodif')}}' class="btn btn-warning" name="id_modif_cat" id="id_modif_cat" value="{{categorie.id}}">Modif<a/>
                {% endif %}
                </div>
 
{% endif %}
 {% endfor %}
 {% endblock %}