{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{('src/Css/contact.css')}}">
{% endblock %}

{% block body %}
<pre>
    {{ dump(panier) }}
</pre>

    {# <div class="row">
        <div class='col' id="btncibleadd"></div>
        <div class='col' id="btnciblesup"></div>
    </div> #}
    {# <input type="text" name="addshopqte" id="platid" value="46 :: IdDuPlat"> #}
    {# <input type="text" name="addshopid" id="platqte" value="1 :: QteDuPlat"> #}
    
    
    {# <div class="dev" id="AddHtmlId"></div>
    <div class="dev" id="AddHtmlQte"></div> #}

{% for plat in plat %}
{% if plat.active == 1 %}

<div class="row my-5">

{# <input type="text" class="addshopid" data-id="{{ plat.id }}" value="{{ plat.id }}" > 
 <input type="text" class="addshopqte" value="1">  #}

 <button class='addpanier' data-id="{{ plat.id }}" value='1' type='submit'>0</button>
</div>
{% endif %}
 {% endfor %}
<div class="panier"></div>
{% endblock %}