{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{('src/Css/contact.css')}}">{% endblock %}

{% block body %}
<div class="text-center my-5">
<div class="row my-5">

    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col-9 mx-auto mb-2 mt-4">
            {{ form_row(form.objet) }}
        </div>
        <div class="col-9 mx-auto mb-2">
            {{ form_row(form.email) }}
        </div>
        <div class="col-9 mx-auto mb-2">
            {{ form_row(form.message) }}
        </div>

    </div>
    {{ form_end(form) }}
</div>
</div>
{# test affichage #}
             <div class="col-10 mx-auto">
                 <h1 class='contactlabel'>Message : {{ contact | length }}</h1>
                 {% for contact in contact %}
                 <span class="d-block contactlabel">
                     {{ contact.objet |upper }} - <b class="btn-primary p-1">{{ contact.message | upper }}</b>
                 </span>
                 {% endfor %}
             </div>
{% endblock %}
